@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, rgb(68, 68, 68) 16.62%, dimgrey 85.61%);
}

.bg {
    background-image: url(../images/jur01.jpg);
    background-color:rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: darken;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    opacity: 100%;
}


.cabecalho-imagem {
    height: 90px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: rgba(255, 248, 205, 0.959);
    font-weight: 400;
    font-size: 18px;
}

.section-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding-right: 3em;
    margin: 7em 10em 10.7em 0;
}

.section-conteudo-titulo {
    font-size: 2.5em;
    font-family: 'Sarala', sans-serif;
    color: rgba(255, 248, 205, 0.959);
    font-weight: 400;
    font-weight: bold;
}

.section-conteudo-paragrafo{
    font-size: 1.5em;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: rgba(255, 248, 205, 0.959);
    font-style: italic;
}

.section-conteudo-botao {
    width: 17em;
    height: 3.2em;
    font-family: 'Sarala', sans-serif;
    font-size: 1.4em;
    background-color: burlywood;
    color: #59371C;
    border-radius: 2em 0em 2em 0em;
}

.section-conteudo-botao:hover {
    background-color: #59371C;
    color: burlywood;
}


.section-conteudo-secundario {
    background-color: #EBDACC;
    padding: 2em;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 14em;

}


.conteudo-secundario div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #EBDACC;
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
    text-align: center;
	width: 30%;
    height: 18em;
    background-color: #8F542E;
    color: #EBDACC;
    font-size: 1.2em;
}

.conteudo-secundario div:hover {
    background-color: #59371C;
    transform: scale(1.1);
}

.conteudo-secundario-icone {
    width: 80%;
}

.conteudo-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8F542E;
    color: #EBDACC;
}



/* RODAPE */
.rodape {
    font-size: 3em;
    background-color: #59371C;
}